In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Get the dataset
df = pd.read_csv('../../datasets/Health_insurance.csv')

In [3]:
df.head(100)

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
..  ...     ...     ...       ...    ...        ...          ...
95   28  female  37.620         1     no  southeast   3766.88380
96   54  female  30.800         3     no  southwest  12105.32000
97   55    male  38.280         0     no  southeast  10226.28420
98   56    male  19.950         0    yes  northeast  22412.64850
99   38    male  19.300         0    yes  southwest  15820.69900

[100 rows x 7 columns]

In [4]:
df.shape

(1338, 7)

In [5]:
df['sex_enc'] = df['sex'].apply(lambda x:1 if x=='female' else 0)
df['smoker_enc'] = df['smoker'].map({'yes':1,'no':0})

In [6]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges',
       'sex_enc', 'smoker_enc'],
      dtype='object')

In [7]:
#identify X and y:
X = df[['age','bmi','children','sex_enc','smoker_enc']] #X may have multiple columns => DataFrame
y = df['charges']  #y is always single column => Series

In [8]:
#Model Training/ Find best fit model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)
model.intercept_,model.coef_

(np.float64(-12181.101839234449),
 array([  257.73498767,   322.36421449,   474.41112061,   128.63985357,
        23823.39253065]))

In [18]:
#Make Predictions
X_test = [[34,25.0,2,0,0]]
str(round(model.predict(X_test)[0],2))

C:\Users\pravi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

'5589.82'

In [19]:
import pickle
pickle.dump(model,open('model.pkl','wb'))